@media (max-width:1280px) {
    .fixwidth{
        width: 100%;
        max-width: 100%;
        padding-left:15px ;
        padding-right: 15px;
    }
}
@media (max-width:1010px) {
    .header-right {
        
        width: 100%;
        text-align: center;
    }
    .header-left {
        width: 100%;
        
        text-align: center;
      }
}
@media (max-width:718px) {
    .header-left img {
        width: 72px;
       
      }
      .header-right ul li a {
        
        
        
        padding: 0 26px;
        
        border-right: none;
        font-size: 15px;
        line-height: 48px;
    }
}
@media (max-width:502px) {
    .banner {
      
        padding: 48px 0;
        
    }
    .banner-caption h1 {
        max-width: 279px;
        
        padding: 8px 0;
       
        
    }
    .blog-left-content {
        
        width: 100%;
    }
    .blog-left-notification {
       
        width: 100%;
    }
}
@media (max-width:523px) {
    .footer-left {
        
        width: 100%;
        text-align: center;
    }
    .footer-right {
      
        width: 100%;
        text-align: center;
    }
   
    .social-menu {
        text-align: center;
        margin-top: 10px;
    }
}
@media (max-width:474px) {
    .service-item {
     
        width: 100%;
        
    }
}

@media (max-width:340px) {
    .banner {
        
        padding: 85px 0;
        
    }
    .banner-caption h2 {
     
        padding: 5px 11px;
        
      
    }
    .banner-caption h1 {
        max-width: 256px;
        
        
        
        padding: 2px 0;
      
    }
}

@media (max-width:310px) {
    .blog-left-notification h2 {
        font-size: 26px;
        
        margin-bottom: 3px;
        padding-bottom: 2px;
    }
    .blog-left-notification ul li {
     
        padding: 9px;
        margin-bottom: -1px;
        font-size: 16px;
        border-radius: 5px;
    }
}