body {
            font-family: 'Roboto', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-image: url(../../../app/assets/images/backgrounds/bg_7.webp);
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             overflow: hidden;
            margin: 0;
        }
        .container {
            display: flex;
            width: 100%;
            max-width: 1000px;
            background: rgba(32, 32, 32, 0.58);
             box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
             backdrop-filter: blur(5px);
             -webkit-backdrop-filter: blur(5px);
             border: 1px solid rgba(32, 32, 32, 0.3);
             border-radius: 16px;
        }
        .left {
            width: 50%;
            background-color: #ffffff00;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .left h2 {
            color: #ffffff;
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .left p {
            color: #fff;
            margin-bottom: 30px;
        }
        .left form {
            display: flex;
            flex-direction: column;
        }
        .left input {
            padding: 10px 15px;
            margin-bottom: 15px;
            border: 1px solid #d1d5db;
            border-radius: 9999px;
            outline: none;
        }
        .left input:focus {
            border-color: #1d4ed8;
            box-shadow: 0 0 0 2px rgba(29, 78, 216, 0.2);
        }
        .left button {
            padding: 10px 15px;
            background: rgba(255, 239, 239, 0.28);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 239, 239, 0.3);
            color: #ffffff;
            border: none;
            border-radius: 9999px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .left button:hover {
            background-color: #ffffffc8;
        }
        .left a {
            color: #363738;
            text-decoration: none;
            font-size: 0.875rem;
            text-align: center;
            margin-top: 10px;
        }
        .left a:hover {
            text-decoration: underline;
        }
        .right {
            width: 50%;
            background:#ffffff00;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .right img {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
        }
        .right h1 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .right p {
            text-align: center;
            font-size: 0.875rem;
        }