    body {
        background-image: url(../../../app/assets/images/backgrounds/bg_7.webp);
        background-size: cover;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }
    
    /* Flex Container for Main Layout */
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      padding: 1rem;
    }
    
    @media(min-width: 768px) {
      .container {
        flex-direction: row;
      }
    }
    /* First Column Styles */
    .column-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
    }
    
    @media(min-width: 768px) {
      .column-1 {
        align-items: flex-start;
        width: 50%;
      }
    }
    
    .column-1 .circle {
      width: 0.5rem;
      height: 0.5rem;
      background-color: white;
      border-radius: 50%;
      margin-bottom: 0.5rem;
    }
    
    .column-1 h1 {
      font-size: 2.25rem;
      font-weight: bold;
      color: #fff;
    }
    
    .column-1 p {
      font-size: 1.125rem;
      text-align: center;
      color: #fff;
    }
    
    @media(min-width: 768px) {
      .column-1 p {
        text-align: left;
      }
    }
    
    .column-1 button {
      padding: 0.5rem 1rem;
      color: #ffffff;
      background: rgba(255, 239, 239, 0.28);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 239, 239, 0.3);
      margin-top: 1rem;
    }
    .column-1 button:hover {
        background: rgba(255, 239, 239, 0.349);
      }
    
    /* Second Column Styles */
    .column-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2rem;
      gap: 10px;
      width: 900px;
      position: relative;
      right: 12px;
      overflow: hidden;
    }
    #circ-indi-rir {
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    .column-2 .card {
      position: relative;
    }
    
    .column-2 img {
      border-radius: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      height: 400px;
      width: 300px;
    }
    
    .column-2 .card .text-overlay {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      color: white;
    }
    
    .column-2 .card .text-overlay h2 {
      font-size: 1.25rem;
      font-weight: bold;
    }
    
    .column-2 .card .text-overlay p {
      font-size: 1rem;
    }
    
    /* Navigation Buttons */
    .navigation-buttons {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      position: absolute;
      bottom: 40px;
      align-items: center;
      left: 50%;
      gap: 10px;
    }
    
    .navigation-buttons button {
      padding: 0.5rem;
      background: rgba(255, 239, 239, 0.28);
      border-#ffffffs: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 239, 239, 0.3);
      color: black;
      border-radius: 9999px;
    }
    .navigation-buttons button:hover {
        background: rgba(255, 239, 239, 0.492);
      }
    .navigation-buttons i {
      font-size: 1.25rem;
      color: #ffffff;
    }