#cookieConsentBanner {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    background: rgba(42, 42, 42, 0.42);
    border-radius: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(42, 42, 42, 0.3);
}
#cookieConsentBanner button {
    background: rgba(255, 239, 239, 0.096);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 239, 239, 0.3);
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
}
#cookieConsentBanner button:hover {
    background-color: #ffffff2c;
}
#cookieConsentBanner .partial {
    background-color: #bebab632;  /* For partial accept */
}