.blackblazent_flooter {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 0;
    right: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.56);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    top: 600px;
    cursor: pointer;
    transition: opacity 0.5s ease;
  }
  .icon-of-flooting {
    border-radius: 20px;
    width: 30px;
    height: 30px;
  }

  .blackblazent_flooter img {
    -webkit-mask-image: linear-gradient(45deg,#fff 25%,rgba(255, 255, 255, 0.2) 50%,#fff 75%);
    mask-image: linear-gradient(45deg,#fff 25%,rgba(255, 255, 255, 0.2) 50%,#fff 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
    animation: infinite-scroll 9s linear infinite;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
   }
   @keyframes infinite-scroll {
   0% {
    -webkit-mask-position: 0;
    mask-position: 0;
     }
    100% {
    -webkit-mask-position: -120%;
    mask-position: -120%;
     }
   }


   .flooting-toolist {
    position: fixed; /* Centered in the screen */
    width: 400px;
    height: 400px;
    background: rgba(42, 42, 42, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(42, 42, 42, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

.box {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #ff5722;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0);
    animation: boxAppear 5s ease-in-out forwards; /* Using 'forwards' to keep the final state */
}

@keyframes boxAppear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
