/* Light Mode */
body {
    background-color: white;
    color: #464141;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212; /* Dark background */
    color: white; /* Light text */
}

/* Style for the theme toggle button */
#theme-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: inherit;
}

/* You can add custom styles for your toggle button to make it look better */
