#logoBrandModal {
  background: rgba(42, 42, 42, 0.42);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(42, 42, 42, 0.3);
  display: none;
  position: absolute;
  padding: 20px;
  z-index: 1000;"
}
#logoBrandModal button {
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    background: rgba(255, 239, 239, 0.096);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 239, 239, 0.3);
}

#logoBrandModal button:hover {
    background-color: #ffffff34;
}
