input[type="radio"] {
    display: none;
  }
  label {
  position: relative;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8em;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 0.5em;
  }
  label:before {
    content: "";
    height: 16px;
    width: 16px;
    border: 3px solid #4189e0;
    border-radius: 50%;
  }
  
  input[type="radio"]:checked + label:before {
    height: 8px;
    width: 8px;
    border: 0.65em solid #ffffff;
    background-color: #000000;
  }
  
  input[type="radio"]:checked + label {
    background-color: #fff0;
    color: #ffffff;
  }

  .pageNavigatorActive {
    background-color: #3498db; /* You can change the color */
    color: white;
}
