#the-word-of-God {
    width: 400px;
    height: 500px;
    display: none;
    bottom: 0;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 16px;
    background: rgba(32, 32, 32, 0.889);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(32, 32, 32, 0.3);
  }
  #the-message {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 0;
  }
  .the-information {
    position: relative;
    width: 400px;
    padding: 10px;
    margin-top: 20px;
  }
  .title-of-the-gospel {
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
  }
  #message-mail {
    font-weight: 100;
    text-align: justify;
    color: #fff;
  }
  .reflection {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 0;
    padding: 10px;
    left: 21%;
    background: rgba(255, 239, 239, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 239, 239, 0.3);
    color: #ffffff;
    text-align: justify;
  }
  .close-this-window-sub {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #ffffff00;
    margin: 10px;
    justify-content: center;
    color: #ffffff;
  }