/* Typing Effect for h1 */
.slogan_blackblazent {
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 4s steps(20) 1s forwards, blink 0.75s step-end infinite;
}

/* Typing animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Blinking cursor effect */
@keyframes blink {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: black;
    }
}

/* Shine Effect for Button */
.explore-blackblazent-content {
    position: relative;
    overflow: hidden;
}

.explore-blackblazent-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
    animation: shine 5s infinite;
}

/* Shine animation */
@keyframes shine {
    0% {
        left: -100%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}
