<!DOCTYPE html>
<html>
<head>
    <title>BlackBlazent | Login</title>
    <link href="../styles/components/login.css" rel="stylesheet">
    <link href="../styles/animation.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../../app/database/services/user/auth.login.js" async></script>
    <script type="text/javascript" src="../../app/dev/global/animation.js" async></script>
</head>
<body>
    <div class="container">
        <!-- Left Side -->
        <div class="left-side">
            <img id="blackblazent-brand" class="blackblazent-logo" src="../../app/assets/icons/blackblazer.png" alt="BlackBlazent logo" width="100" height="100">
            <h1>BlackBlazent</h1>
            <p>Innovating Tomorrow, Today.</p>
        </div>
        <!-- Right Side -->
        <div class="right-side">
            <h2>Welcome</h2>
            <p>Login to your account to continue</p>
            <form class="form" id="loginForm">
                <input type="email" id="email" placeholder="Email" required>
                <input type="password" id="password" placeholder="Password" required>
                <a href="../components/reset-account.html" id="forgotPasswordLink" target="_blank">Forgot your password?</a>
                <button type="submit">LOG IN</button>
            </form>
            <p class="signup">Don't have an account? <a href="../components/blackblazent-signup.html" target="_blank">Sign Up</a></p>
        </div>        
    </div>
</body>
</html>