<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>BlackBlazent | Gallery</title>
  <link href="../global.css" rel="stylesheet"/>
  <link href="../styles/components/gallery.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
  <script type="text/javascript" src="../../app/dev/components/gallery-section/galler.sec.js" async></script>
</head>
<body>
  <div class="container">
    <div class="column-1">
      <div class="flex flex-col items-center md:items-start space-y-2">
        <div class="flex flex-col items-center md:items-start space-y-2" id="circ-indi-rir">
          <div class="circle" id="carousel-item-indicator"></div>
          <div class="circle" id="carousel-item-indicator"></div>
          <div class="circle" id="carousel-item-indicator"></div>
          <div class="circle" id="carousel-item-indicator"></div>
        </div>
        <h1 class="AppName" id="App-Name">About Malaysia</h1>
        <p class="AppDescription" id="App-Description"></p>
        <button class="getAppNow" id="fetchAppUrl">Get App</button>
      </div>
    </div>
    <div class="column-2">
      <div class="card" id="forBlackVideo">
        <img alt="Image of Malaysia" src="https://storage.googleapis.com/a1aa/image/33urEhYJBL5CDLIoEdJlYD_KzRuksBIZwyEjoy-LF6g.jpg"/>
        <div class="text-overlay">
          <h2>BlackVideo</h2>
          <p>Hybrid video player</p>
        </div>
      </div>
      <div class="card"id="forBlackMusic">
        <img alt="Image of Dubai" src="https://storage.googleapis.com/a1aa/image/e1Uz89i-0558RprRy1u6w2B9UPZahVwED_VuvWfw3l0.jpg"/>
        <div class="text-overlay">
          <h2>BlackMusic</h2>
          <p>Hybrid music player</p>
        </div>
      </div>
      <div class="card" id="forBlackGallery">
        <img alt="Image of Canada" src="https://storage.googleapis.com/a1aa/image/QzLjR-E1v4Sl4rETmjnjHmAFksTU7slzDGMKoLbanrU.jpg"/>
        <div class="text-overlay">
          <h2>BlackGallery</h2>
          <p>Hybrid gallery app</p>
        </div>
      </div>
      <div class="card" id="forBlackMiscellen">
        <img alt="Image of Canada" src="https://storage.googleapis.com/a1aa/image/QzLjR-E1v4Sl4rETmjnjHmAFksTU7slzDGMKoLbanrU.jpg"/>
        <div class="text-overlay">
          <h2>BlackMiscellen</h2>
          <p>Hybrid integrated toolkits</p>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation-buttons">
    <button id="prevButton"><i class="fas fa-arrow-left"></i></button>
    <button id="nextButton"><i class="fas fa-arrow-right"></i></button>
  </div>
</body>
</html>
