<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   BlackBlazent | Services
  </title>
  <link href="../global.css" rel="stylesheet"/>
  <link href="../styles/components/services.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body>
  <div class="sidebar">
    <h1 class="header-cli">BlackBlazent Services</h1>
   <a class="tab-link" href="#tab1" onclick="openTab(event, 'tab1')">
    Downloader of Video
   </a>
   <a class="tab-link" href="#tab2" onclick="openTab(event, 'tab2')">
    Bulk Crop Images 1
   </a>
   <a class="tab-link" href="#tab3" onclick="openTab(event, 'tab3')">
    Bulk Crop Images 2
   </a>
   <a class="tab-link" href="#tab4" onclick="openTab(event, 'tab4')">
    Add More
   </a>
  </div>
  <div class="main-container">
   <div class="tab-content active" id="tab1">
    <h2>
     Downloader of Video
    </h2>
    <p>
     Description of the video downloader service using links or URLs.
    </p>
    <img alt="Illustration of a video downloader interface" height="400" src="https://storage.googleapis.com/a1aa/image/Pr8g1ccOL0XLpPxSbQUFb1hutS5bqeTD1MoF70A44_Q.jpg" width="600"/>
   </div>
   <div class="tab-content" id="tab2">
    <h2>
     Bulk Crop Images 1
    </h2>
    <p>
     Description of the first bulk image cropping service.
    </p>
    <img alt="Illustration of bulk image cropping interface" height="400" src="https://storage.googleapis.com/a1aa/image/lvESybyKzSm1Iu7LC-l0yf4RcNox-uyZP5Ua6f0ejb8.jpg" width="600"/>
   </div>
   <div class="tab-content" id="tab3">
    <h2>
     Bulk Crop Images 2
    </h2>
    <p>
     Description of the second bulk image cropping service.
    </p>
    <img alt="Illustration of another bulk image cropping interface" height="400" src="https://storage.googleapis.com/a1aa/image/u-b7JnkSQ6bJ-wxtAHLUDU-uvZQBDy_fcE44Tpepl0U.jpg" width="600"/>
   </div>
   <div class="tab-content" id="tab4">
    <h2>
     Add More
    </h2>
    <p>
     Description of additional services that can be added.
    </p>
    <img alt="Illustration of adding more services" height="400" src="https://storage.googleapis.com/a1aa/image/RObc6atJX4G3-OGVlGz7by6bdqqkvHjgNBZJM7jUi20.jpg" width="600"/>
   </div>
  </div>
  <script>
   function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tab-content");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tab-link");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
  </script>
 </body>
</html>